{% extends 'base.html' %}

{% block content %}
    <h1>Fotos Pendentes de Aprovação</h1>
    
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

    {% for foto in fotos %}
        <div style="margin-bottom: 30px; border:1px solid #ccc; padding:10px;">
            <img src="{{ foto.imagem.url }}" alt="Foto" width="300">
            <p>{{ foto.descricao }}</p>
            <p>Enviada por: {{ foto.autor.username }}</p>
            
            <form method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="foto_id" value="{{ foto.id }}">
                <button type="submit" name="acao" value="aprovar" class="btn btn-warning">Aprovar</button>
            </form>

            <form method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="foto_id" value="{{ foto.id }}">
                <button type="submit" name="acao" value="rejeitar" class="btn btn-primary">Rejeitar</button>
            </form>

            {% if request.user.is_superuser %}
            <form method="post" action="{% url 'deletar_foto' foto.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" onclick="return confirm('Tem certeza que deseja deletar esta foto?');" class="btn btn-danger btn-sm">Excluir</button>
            </form>
            {% endif %}
        </div>
    {% empty %}
        <p>Não há fotos para aprovar.</p>
    {% endfor %}
   
    <p><a href="{% url 'home' %}"><button type="submit" class="btn btn-success">Voltar</button></a></p>
{% endblock%}


