{% extends 'base.html' %}

{% block content %}
    <h1>Galeria de Fotos Aprovadas</h1>
    <div class="photo-card">
        {% for foto in fotos %}
            <div style="margin-bottom: 20px; border: 1px solid #ccc; padding: 10px;">
                <img src="{{ foto.imagem.url }}" alt="Foto" width="300">
                <p>{{ foto.descricao }}</p>
                <p>Enviada por: {{ foto.autor.username }}</p>

                <p>Curtidas: {{ foto.curtidas.count }}</p>

                <form method="post" action="{% url 'curtir_foto' foto.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Curtir</button>
                </form>

                <p>Comentários:</p>
                <ul>
                    {% for comentario in foto.comentarios.all %}
                        <li><strong>{{ comentario.autor.username }}:</strong> {{ comentario.texto }}</li>
                    {% empty %}
                        <li>Sem comentários ainda.</li>
                    {% endfor %}
                </ul>

                <p><a href="{% url 'comentar_foto' foto.id %}"><button class="btn btn-success">Adicionar comentário</button> </a></p>
                {% if request.user.is_superuser %}
                <form method="post" action="{% url 'deletar_foto' foto.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Tem certeza que deseja deletar esta foto?');" class="btn btn-danger btn-sm">Excluir</button>
                </form>
                {% endif %}
            </div>
        {% empty %}
            <p>Nenhuma foto aprovada ainda.</p>
        {% endfor %}
    </div>
{% endblock %}